@page "/projetos"
@using Portfolio.Blazor.Services
@using Portifolio.Domain.Entities
@inject ApiClient api

<h3>Meus dsProjetos</h3>

@if (lista == null)
{
    <p>Carregando...</p>
}
else
{
    <ul>
        @foreach (var p in lista)
        {
            <li>@p.Title</li>
            <li>@p.Description</li>
        }
    </ul>
}

@code {
    List<Project>? lista;

    protected override async Task OnInitializedAsync()
    {
        lista = await api.GetProjetos();
    }
}
